<ion-menu side="start" contentId="my-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-chip>
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>Hello {{userName}}</ion-label>
      </ion-chip>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="home" slot="start"></ion-icon>
        <ion-label (click)="gotoHome()">Home</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="grid" slot="start"></ion-icon>
        <ion-label (click)="gotoProduct()">Products</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="log-out" slot="start"></ion-icon>
        <ion-label (click)="logout()">Logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="gotoCart()">
        <ion-icon slot="icon-only" name="cart">
        </ion-icon>
      </ion-button>
      <ion-badge color="dark" *ngIf="totalItem  != 0">{{totalItem}}</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-router-outlet id="my-content" class="container"></ion-router-outlet>